<section class="introduction">
  <div class="container">
      <h1><strong>| Առաջարկվող</strong> ծառայություններ</h1>

      <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias magnam at voluptates qui voluptate deserunt ab, voluptatibus natus corporis dolores debitis architecto, reiciendis fugiat quisquam placeat magni ullam quibusdam minus facere itaque eveniet. Nemo, enim amet quibusdam omnis voluptatum officia corrupti quidem illo harum exercitationem quis, numquam culpa odit animi?
      </p>
  </div>
</section>

<section class="service">
  <div class="container">
      <h2>Hosting</h2>

      <div class="circle-block">
          <div class="row">
              <div class="col-md-2 col-md-offset-4 col-xs-6">
                  <div class="circle dedicated">
                      <div class="effect">
                          <p>Dedicated</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle cloud">
                      <div class="effect">
                          <p>Cloud</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
