<div class="tiles">
    <div class="container flex flex-justify-content-center">

        <div class="tile other" data-aos="fade-up">
            <div class="tile-content">
                <div class="title">
                    <h1>Starter</h1>
                </div>
                <div class="subtitle">
                    <p>Subtitle</p>
                </div>
      
                <div class="hr">&nbsp;</div>
      
                <div class="price">
                    <p class="amount">10.00$</p>
                    <p class="description">per mounth</p>
                </div>
      
                <div class="list">
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="tile" data-aos="fade-up">
            <div class="popular flex flex-justify-content-center">POPULAR</div>
      
            <div class="tile-content">
                <div class="title">
                    <h1>Standart</h1>
                </div>
                <div class="subtitle">
                    <p>Subtitle</p>
                </div>
      
                <div class="hr">&nbsp;</div>
      
                <div class="price">
                    <p class="amount">100.00$</p>
                    <p class="description">per mounth</p>
                </div>
      
                <div class="list">
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                </div>
            </div>
        </div>
      
        <div class="tile other" data-aos="fade-up">
            <div class="tile-content">
                <div class="title">
                    <h1>Pro</h1>
                </div>
                <div class="subtitle">
                    <p>Subtitle</p>
                </div>
      
                <div class="hr">&nbsp;</div>
      
                <div class="price">
                    <p class="amount">1000.00$</p>
                    <p class="description">per mounth</p>
                </div>
      
                <div class="list">
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                </div>
            </div>
        </div>
      
    </div>
</div>
