<button id="phoneBtn" class="btn" data-toggle="modal" data-target="#callModal">
  <i class="fa fa-phone"></i>
</button>

<div id="callModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <button class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">Զանգահարել</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <a href="tel:+37441214803">
                          <i class="fa fa-phone"></i>
                          &nbsp;&nbsp;+374 41 214-803
                      </a>
                      <br>
                      <a href="tel:+37477214803">
                          <i class="fa fa-phone"></i>
                          &nbsp;&nbsp;+374 77 214-803
                      </a>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-danger" data-dismiss="modal">Փակել</button>
          </div>
      </div>
  </div>
</div>