<header id="intro" class="intro">
  <canvas id="backLayer" class="backLayer"></canvas>
  <canvas id="frontLayer" class="frontLayer"></canvas>

  <div class="effect" (resized)="onResized($event)"></div>

  <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2" data-aos="zoom-in">
                  <h1 class="brand-heading">{{ title }}</h1>

                  <p class="intro-text">{{ subtitle }}</p>

                  <a href="#page" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</header>