<div class="service-cirlces">
  <div class="container">
      <h2>Front-End</h2>

      <div class="circle-block">
          <div class="row">
              <div class="col-md-2 col-md-offset-1 col-xs-6" data-aos="zoom-in">
                  <div class="circle html">
                      <div class="effect">
                          <p>HTML</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6" data-aos="zoom-in">
                  <div class="circle css">
                      <div class="effect">
                          <p>CSS</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6" data-aos="zoom-in">
                  <div class="circle js">
                      <div class="effect">
                          <p>JS</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6" data-aos="zoom-in">
                  <div class="circle angular">
                      <div class="effect">
                          <p>Angular</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3" data-aos="zoom-in">
                  <div class="circle bootstrap">
                      <div class="effect">
                          <p>Bootstrap</p>
                      </div>
                  </div>
              </div>
          </div>

          <br>
          <h2>Back-End</h2>

          <div class="row">
              <div class="col-md-2 col-md-offset-2 col-xs-6" data-aos="zoom-in">
                  <div class="circle aspnet">
                      <div class="effect">
                          <p>ASP.NET Core</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6" data-aos="zoom-in">
                  <div class="circle ef">
                      <div class="effect">
                          <p>EF Core</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6" data-aos="zoom-in">
                  <div class="circle mssql">
                      <div class="effect">
                          <p>MS SQL</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6" data-aos="zoom-in">
                  <div class="circle mysql">
                      <div class="effect">
                          <p>My SQL</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>