<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-xs-12 text-left">
              <a href="tel:+37441214803">
                  <i class="fa fa-phone"></i>
                  &nbsp;&nbsp;+374 41 214-803
              </a>
              <br>
              <a href="tel:+37477214803">
                  <i class="fa fa-phone"></i>
                  &nbsp;&nbsp;+374 77 214-803
              </a>
          </div>
          <div class="col-sm-6 col-xs-12 text-right">
              <a href="mailto:info@davidstudio.am">
                  <i class="fa fa-envelope"></i>
                  &nbsp;&nbsp;info@davidstudio.am
              </a>
          </div>
      </div>
      
      <br>
      
      <div class="row">
          <div class="col-md-2 col-md-offset-5 
                      col-xs-8 col-xs-offset-2
                      col-sm-4 col-sm-offset-4">
              <div class="row">
                  <div class="col-md-3 col-xs-3">
                      <a href="https://github.com/davidkhachatryan123" target="_blank">
                          <i class="fab fa-github"></i>
                      </a>
                  </div>
                  <div class="col-md-3 col-xs-3">
                      <a href="#" target="_blank">
                          <i class="fab fa-instagram"></i>
                      </a>
                  </div>
                  <div class="col-md-3 col-xs-3">
                      <a href="#" target="_blank">
                          <i class="fab fa-facebook"></i>
                      </a>
                  </div>
                  <div class="col-md-3 col-xs-3">
                      <a href="https://t.me/dav1d_khachatryan" target="_blank">
                          <i class="fab fa-telegram"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>

      <hr>

      <p class="credits text-center">
          &copy; 2022 David Studio. Բոլոր իրավունքները պաշտպանված են:
      </p>
  </div>
</footer>