<section class="latest-proj">
    <div class="container">
        <div class="main-title">
            <h1>Վերջին աշխատանքները</h1>
        </div>

        <div class="row">

            <div class="col-md-4 col-xs-12" data-aos="zoom-in-up">
                <a href="Portfolio-smarthome.html">
                    <div class="block">
                        <div class="title">
                            <h4>Smart Home</h4>
                        </div>
                        <img src="assets/img/Projects/proj1.jpg" class="img-responsive">
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xs-12" data-aos="zoom-in-up">
                <a href="Portfolio-steadicube.html">
                    <div class="block">
                        <div class="title">
                            <h4>Steadicube</h4>
                        </div>
                        <img src="assets/img/Projects/proj2.jpg" class="img-responsive">
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xs-12" data-aos="zoom-in-up">
                <a href="Portfolio-text-analyzer-uba.html">
                    <div class="block">
                        <div class="title">
                            <h4>Text Analyzer UBA</h4>
                        </div>
                        <img src="assets/img/Projects/proj3.jpg" class="img-responsive">
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>