.html {
  border-color: var(--color-html);
  color: var(--color-html);
}

.css {
  border-color: var(--color-css);
  color: var(--color-css);
}

.js {
  border-color: var(--color-js);
  color: var(--color-js);
}

.bootstrap {
  border-color: var(--color-bootstrap);
  color: var(--color-bootstrap);
}

.angular {
  border-color: var(--color-angular);
  color: var(--color-angular);
}

.aspnet {
  border-color: var(--color-aspnet);
  color: var(--color-aspnet);
}

.ef {
  border-color: var(--color-ef);
  color: var(--color-ef);
}

.mysql {
  border-color: var(--color-mysql);
  color: var(--color-mysql);
}

.mssql {
  border-color: var(--color-mssql);
  color: var(--color-mssql);
}


.cs {
  border-color: var(--color-cs);
  color: var(--color-cs);
}

.wpf {
  border-color: var(--color-wpf);
  color: var(--color-wpf);
}

.winforms {
  border-color: var(--color-winforms);
  color: var(--color-winforms);
}

.cpp {
  border-color: var(--color-cpp);
  color: var(--color-cpp);
}

.bash {
  border-color: var(--color-bash);
  color: var(--color-bash);
}


.arduino {
  border-color: var(--color-arduino);
  color: var(--color-arduino);
}

.iot {
  border-color: var(--color-iot);
  color: var(--color-iot);
}

.pcb {
  border-color: var(--color-pcb);
  color: var(--color-pcb);
}


.dedicated {
  border-color: var(--color-dedicated);
  color: var(--color-dedicated);
}

.cloud {
  border-color: var(--color-cloud);
  color: var(--color-cloud);
}