<section class="introduction">
  <div class="container">
      <h1>Կապ</h1>
              
      <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime aliquid vero est aspernatur voluptatem incidunt nemo magnam autem inventore esse, in debitis modi quos repellendus omnis praesentium id saepe exercitationem enim culpa assumenda eum. Similique soluta minus molestias quae, unde tempora exercitationem laborum ex beatae. Optio autem architecto eligendi error.
      </p>
  </div>
</section>

<section class="content-form">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <div class="done">
                  <div class="alert alert-success">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      Ձեր նամակը ուղարկված է։ Շնորհակալություն :)
                  </div>
              </div>

              <form method="post" action="" id="contactform">
                  <div class="form">
                      <input type="text" name="name" placeholder="Ձեր Անունը *">
                      <input type="text" name="email" placeholder="Ձեր էլեկտրոնային հասցեն *">
                      <input type="text" name="phone" placeholder="Ձեր հեռախոսահամարը (ոչ պարտադիր)">
                      <textarea name="comment" rows="7" placeholder="Ձեր նամակը *"></textarea>

                      <input type="submit" id="submit" class="clearfix btn" value="Ուղարկել">
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>