<section class="introduction">
  <div class="container">
      <h1><strong>| Առաջարկվող</strong> ծառայություններ</h1>

      <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias magnam at voluptates qui voluptate deserunt ab, voluptatibus natus corporis dolores debitis architecto, reiciendis fugiat quisquam placeat magni ullam quibusdam minus facere itaque eveniet. Nemo, enim amet quibusdam omnis voluptatum officia corrupti quidem illo harum exercitationem quis, numquam culpa odit animi?
      </p>
  </div>
</section>

<section class="service">
  <div class="container">
      <h2>Front-End</h2>

      <div class="circle-block">
          <div class="row">
              <div class="col-md-2 col-md-offset-1 col-xs-6">
                  <div class="circle html">
                      <div class="effect">
                          <p>HTML</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle css">
                      <div class="effect">
                          <p>CSS</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle js">
                      <div class="effect">
                          <p>JS</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle angular">
                      <div class="effect">
                          <p>Angular</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
                  <div class="circle bootstrap">
                      <div class="effect">
                          <p>Bootstrap</p>
                      </div>
                  </div>
              </div>
          </div>

          <br>
          <h2>Back-End</h2>

          <div class="row">
              <div class="col-md-2 col-md-offset-2 col-xs-6">
                  <div class="circle aspnet">
                      <div class="effect">
                          <p>ASP.NET Core</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle ef">
                      <div class="effect">
                          <p>EF Core</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle mssql">
                      <div class="effect">
                          <p>MS SQL</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle mysql">
                      <div class="effect">
                          <p>My SQL</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
