<section class="introduction">
  <div class="container">
      <h1><strong>| Առաջարկվող</strong> ծառայություններ</h1>

      <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias magnam at voluptates qui voluptate deserunt ab, voluptatibus natus corporis dolores debitis architecto, reiciendis fugiat quisquam placeat magni ullam quibusdam minus facere itaque eveniet. Nemo, enim amet quibusdam omnis voluptatum officia corrupti quidem illo harum exercitationem quis, numquam culpa odit animi?
      </p>
  </div>
</section>

<section class="service">
  <div class="container">
      <h2>Windows</h2>

      <div class="circle-block">
          <div class="row">
              <div class="col-md-2 col-md-offset-2 col-xs-6">
                  <div class="circle cs">
                      <div class="effect">
                          <p>C#</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle wpf">
                      <div class="effect">
                          <p>WPF</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle winforms">
                      <div class="effect">
                          <p>Win Forms</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle cpp">
                      <div class="effect">
                          <p>C++</p>
                      </div>
                  </div>
              </div>
          </div>

          <br>
          <h2>Linux</h2>

          <div class="row">
              <div class="col-md-2 col-md-offset-4 col-xs-6">
                  <div class="circle cpp">
                      <div class="effect">
                          <p>C++</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-6">
                  <div class="circle bash">
                      <div class="effect">
                          <p>Bash Script</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
