<section class="services">
    <div class="container">
        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 col-sm-push-6 col-sm-12 col-xs-12 service__content">
                <h2><strong>| Web</strong> կայքերի պատրաստում</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
                </p>

                <a [routerLink]="['services', 'web']" type="button" class="btn btn-success btn-lg">
                    Ավելին
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-pull-6 col-sm-12 col-xs-12 flex-md flex-justify-content-center-md">
                <img class="img-responsive center-block" src="assets/img/Service/web_dev.jpg">
            </div>
        </div>

        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 col-sm-12 col-xs-12 service__content">
                <h2><strong>| Desktop</strong> ծրագրերի պատրաստում</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
                </p>

                <a href="Service-Desktop.html" type="button" class="btn btn-warning btn-lg">
                    Ավելին
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 flex-md flex-justify-content-center-md">
                <img class="img-responsive center-block" src="assets/img/Service/desktop_dev.jpg">
            </div>
        </div>

        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 col-sm-push-6 col-sm-12 col-xs-12 service__content">
                <h2><strong>| Arduino</strong> սալիկների ծրագրավորում</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
                </p>

                <a href="Service-Arduino.html" type="button" class="btn btn-info btn-lg">
                    Ավելին
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-pull-6 col-sm-12 col-xs-12 flex-md flex-justify-content-center-md">
                <img class="img-responsive center-block" src="assets/img/Service/arduino_dev.jpg">
            </div>
        </div>

        <div class="service row flex-md" data-aos="fade-up">
            <div class="col-md-6 col-sm-12 col-xs-12 service__content">
                <h2><strong>| Hosting</strong> ԵՎ <strong>Server</strong></h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
                </p>

                <a href="Service-Hosting.html" type="button" class="btn btn-danger btn-lg">
                    Ավելին
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 service__img_right flex-md flex-justify-content-center-md">
                <img class="img-responsive center-block" src="assets/img/Service/server_dev.jpg">
            </div>
        </div>
    </div>
</section>