.services {
  background-color: var(--color-background);

  text-align: center;

  padding-top: 20px;
}

.services .service {
  padding-bottom: 30px;
}

.services .service h2 {
  font-weight: normal;
  line-height: 1.5em;
}

.services .service h2 strong {
  color: var(--accent-color);
  font-weight: bold;
}

.services .service__content {
  margin-bottom: 20px;
}

.services .service .service__img_right {
  margin: 0;
}

@media(min-width:768px) {
  .services {
    text-align: inherit;
  }

  .services p {
    text-indent: 15px;
  }

  .services .service__content a {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
  }

  .services .service .service__img_right {
    justify-content: end;
    align-items: flex-end;
  }

  .services .service img {
    margin: 0 -10px;
  }
  
  .services .service .service__img_right img {
    margin: 0 10px;
  }
}


.latest-proj {
  text-align: center;

  padding-top: 20px;
}

.latest-proj .main-title {
  background-color: var(--color-light);
  color: var(--color-dark);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px gray;
}

.latest-proj img {
  border-radius: 10px 10px 0 0;
}

.latest-proj img, .latest-proj .title {
  -webkit-transition: var(--main-transform);
     -moz-transition: var(--main-transform);
       -o-transition: var(--main-transform);
      -ms-transition: var(--main-transform);
          transition: var(--main-transform);

  will-change: transform;
}

.latest-proj img:hover {
  -webkit-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
       -o-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.latest-proj .block {
  position: relative;

  border-radius: 10px 10px 0 0;
}

.latest-proj .title {
  background-color: var(--color-light);
  color: var(--color-black);

  text-align: center;

  width: 100%;
  height: 50px;

  top: calc(100% - 50px);
  left: 0;

  position: absolute;
  display: table;
  z-index: 1;
}

.latest-proj .title:hover {
  color: var(--accent-color);
}

.latest-proj .title h4 {
  display: table-cell;
  vertical-align: middle;
}