<section class="introduction">
  <div class="container">
      <h1>David Studio</h1>
              
      <p>
          Մենք նախագծում և զարգացնում ենք թվային ապրանքներ և առցանց փորձառություններ, որոնք օգնում են մեր հաճախորդներին աճել, նորարարություններ կատարել և փոխակերպվել: Մենք լսում, սովորում և հասկանում ենք նախքան կառուցելը: Մենք միասին բացահայտում ենք ձեր նպատակները, այնուհետև օգտագործում ենք մեր փորձը՝ գտնելու իրատեսական և ազդեցիկ այդ քաղցր կետը:
      </p>
  </div>
</section>

<section class="services">
  <div class="container">
      <div class="service row flex-md">
          <div class="col-md-6 col-sm-push-6 col-sm-12 col-xs-12 service__content">
              <h2><strong>| Web</strong> կայքերի պատրաստում</h2>

              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
              </p>

              <a [routerLink]="['services', 'web']" type="button" class="btn btn-success btn-lg">
                  Ավելին
                  <i class="fa fa-angle-right"></i>
              </a>
          </div>
          <div class="col-md-6 col-sm-pull-6 col-sm-12 col-xs-12 flex-md flex-justify-content-center-md">
              <img class="img-responsive center-block" src="assets/img/Service/web_dev.jpg">
          </div>
      </div>

      <div class="service row flex-md">
          <div class="col-md-6 col-sm-12 col-xs-12 service__content">
              <h2><strong>| Desktop</strong> ծրագրերի պատրաստում</h2>

              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
              </p>

              <a [routerLink]="['services', 'desktop']" type="button" class="btn btn-warning btn-lg">
                  Ավելին
                  <i class="fa fa-angle-right"></i>
              </a>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 flex-md flex-justify-content-center-md">
              <img class="img-responsive center-block" src="assets/img/Service/desktop_dev.jpg">
          </div>
      </div>

      <div class="service row flex-md">
          <div class="col-md-6 col-sm-push-6 col-sm-12 col-xs-12 service__content">
              <h2><strong>| Arduino</strong> սալիկների ծրագրավորում</h2>

              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
              </p>

              <a [routerLink]="['services', 'arduino']" type="button" class="btn btn-info btn-lg">
                  Ավելին
                  <i class="fa fa-angle-right"></i>
              </a>
          </div>
          <div class="col-md-6 col-sm-pull-6 col-sm-12 col-xs-12 flex-md flex-justify-content-center-md">
              <img class="img-responsive center-block" src="assets/img/Service/arduino_dev.jpg">
          </div>
      </div>

      <div class="service row flex-md">
          <div class="col-md-6 col-sm-12 col-xs-12 service__content">
              <h2><strong>| Hosting</strong> ԵՎ <strong>Server</strong></h2>

              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus maiores adipisci ipsam, quaerat minus aliquam sequi obcaecati itaque enim, sit voluptatum possimus. Adipisci ipsam exercitationem tenetur incidunt perspiciatis molestiae.
              </p>

              <a [routerLink]="['services', 'hosting']" type="button" class="btn btn-danger btn-lg">
                  Ավելին
                  <i class="fa fa-angle-right"></i>
              </a>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 flex-md flex-justify-content-center-md">
              <img class="img-responsive center-block" src="assets/img/Service/server_dev.jpg">
          </div>
      </div>
  </div>
</section>

<section class="latest-proj">
  <div class="container">
      <div class="main-title">
          <h3>Լավագույն աշխատանքները</h3>
      </div>

      <div class="row">
          <div class="col-md-4 col-xs-12">
              <a [routerLink]="['portfolio']">
                  <div class="block">
                      <div class="title">
                          <h4>Smart Home</h4>
                      </div>
                      <img src="assets/img/Projects/proj1.jpg" class="img-responsive">
                  </div>
              </a>
          </div>
          <div class="col-md-4 col-xs-12">
              <a [routerLink]="['portfolio']">
                  <div class="block">
                      <div class="title">
                          <h4>Steadicube</h4>
                      </div>
                      <img src="assets/img/Projects/proj2.jpg" class="img-responsive">
                  </div>
              </a>
          </div>
          <div class="col-md-4 col-xs-12">
              <a [routerLink]="['portfolio']">
                  <div class="block">
                      <div class="title">
                          <h4>Text Analyzer UBA</h4>
                      </div>
                      <img src="assets/img/Projects/proj3.jpg" class="img-responsive">
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>