<section class="content-form">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <div class="done">
                  <div class="alert alert-success">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      Ձեր նամակը ուղարկված է։ Շնորհակալություն :)
                  </div>
              </div>

              <form method="post" action="" id="contactform">
                  <div class="form">
                      <input type="text" name="name" placeholder="Ձեր Անունը *">
                      <input type="text" name="email" placeholder="Ձեր էլեկտրոնային հասցեն *">
                      <input type="text" name="phone" placeholder="Ձեր հեռախոսահամարը (ոչ պարտադիր)">
                      <textarea name="comment" rows="7" placeholder="Ձեր նամակը *"></textarea>

                      <input type="submit" id="submit" class="clearfix btn" value="Ուղարկել">
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>